.main-intro {
  background: url('../img/iphone-5-in-hand-png.png') left calc(100% + 10px) bottom 260px no-repeat,
  url('../img/back-mobile-1-x-jpg.png') top -70px center/100% no-repeat #1d2631;
}

.main-intro__wrapper {
  background-image: linear-gradient(transparent 390px, #1d2631 390px);
}

.main-intro__title {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding: 25px;
  padding-bottom: 325px;
  margin: 0 auto;
  width: 230px;
}

.main-intro__download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px auto 35px;
  width: 280px;
  min-height: 55px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 30px;
  box-sizing: border-box;
}

.main-intro__os-block-list {
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
  padding: 0 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-intro__os-block-list-item {

  a {
    display: block;
    height: 56px;
    width: 47px;
  }

  &:first-child a {
    background: url('../img/apple-logo-svg.svg') no-repeat;
  }

  &:nth-child(2) a {
    background: url('../img/android-logo-svg.svg') 50% 90% no-repeat;
  }

  &:last-child a {
    background: url('../img/microsoft-logo-svg.svg') 50% 70% no-repeat;
  }
}

.main-intro__description {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  display: block;
  width: 270px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media (min-width: @mid-size) {
  .main-intro {
    background: url('../img/iphone-6-copy.png') left -120px bottom -25px no-repeat,
    url('../img/back-tablet-1-x.png') top -110px center /180% no-repeat #1d2631;
    padding-bottom: 110px;
  }

  .main-intro__wrapper {
    width: 300px;
    background-image: none;
  }

  .main-intro__title {
    font-size: 40px;
    padding-top: 90px;
    padding-bottom: 5px;
  }

  .main-intro__download {
    width: 300px;
  }

  .main-intro__description {
    margin : 0;
    font-size: 18px;
    width: auto;
    padding-bottom: 0;
  }
}
