.offers-list-slider {
  background-color: #f2f2f2;
  position: relative;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.offers-list-slider__table {
  position: absolute;
  display: table;
  width: calc(400% - 160px);
  left: calc(-100% + 60px);
  bottom: 100px;
  border-collapse: collapse;
}

.offers-list-slider__tariffs {
  display: table-row;
  background-color: #283645;
}

.offers-list-slider__tariff {
  position: relative;
  display: table-cell;
  width: 25%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 30px;
  border: 2px solid #f2f2f2;
  padding: 10px;
  overflow: hidden;

  &:first-child {
    font-size: 0;
    background-color: #f2f2f2;
    border-bottom: none;
  }

  h3 {
    margin: 0;
    font-size: 18px;
  }

  p {
    margin: 0;
    font-size: 24px;
  }

  span {
    position: absolute;
    background-color: #d22856;
    width: 100px;
    top: 5px;
    left: -32px;
    transform: rotate(-45deg);
    font-size: 14px;
  }
}

.offers-list-slider__row {
  display: table-row;
  min-height: 60px;
  position: relative;

  &:nth-child(2) .offers-list-slider__cell:not(:first-child) {
    background: #fff url('../img/yes-svg.svg') center no-repeat;
  }

  &:nth-child(3) .offers-list-slider__cell:nth-child(3) {
    background: #fff url('../img/yes-svg.svg') center no-repeat;
  }
}

.offers-list-slider__cell {
  display: table-cell;
  height: 60px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
  font-size: 14px;

  &:first-child {
    position: absolute;
    left: 25.5%;
    line-height: 60px;
    border: none;
    background-color: inherit;
  }

  &:not(:first-child) {
    background: #fff url('../img/no-svg.svg') center  no-repeat;
  }

  &:last-child {
    background: #fff url('../img/yes-svg.svg') center  no-repeat;
  }
}

.offers-list-slider__label-list {
  background-color: #f2f2f2;
  list-style: none;
  padding: 0 130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 80px;

  li {
    display: flex;
    align-items: center;
  }

  button {
    padding: 0;
    width: 6px;
    height: 6px;
    opacity: 0.3;
    border: solid 3px #283645;
    border-radius: 50%;
  }
}

button.offers-list-slider__active-label {
  opacity: 1;
  width: 12px;
  height: 12px;
  border: solid 3px #283645;
}

@media (min-width: @mid-size) {
  .offers-list-slider {
    padding: 0 20px;
    padding-bottom: 70px;
  }

  .offers-list-slider__table {
    position: relative;
    width: 100%;
    left: 0;
  }

  .offers-list-slider__tariff {
    width: 23%;

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 18px;
    }

    span {
      width: 100px;
      top: 5px;
      left: -32px;
    }
  }

  .offers-list-slider__row {
    min-height: 45px;
  }

  .offers-list-slider__cell {

    &:first-child {
      position: relative;
      left: 0;
    }
  }

  .offers-list-slider__label-list {
    display: none;
  }
}
