.page-header {
  background-color: #283645;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #000;

  &--closed {
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 50%),
    url('../img/back-mobile-1-x-jpg.png') top left/cover no-repeat;
    border-bottom: none;
  }
}

.page-header__button {
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  background: transparent url('../img/menu-cross-svg.png');
  width: 24px;
  height: 24px;

  &--closed {
    background: transparent url('../img/menu-burger-svg.png');
    width: 50px;
    height: 24px;
  }

  &--nojs {
    display: none;
  }
}

.page-header__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.page-header__list-item {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
  border-top: 1px solid rgba(255, 255, 255, 0.15);

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
}

@media (min-width: @mid-size) {
  .page-header__top {
    padding: 25px 20px 40px;
  }

  .page-header__img {
    width: 147px;
    height: 40px;
  }
}
